APP_ENV=
LOG_LEVEL=

# API
RATE_LIMIT=
CACHE_TTL_SECONDS=
MAX_RETRIES=

# 3rd party
GOOGLE_API_KEY=
SUPABASE_DATABASE_URL=

# Tracing
LANGSMITH_API_KEY=
# Need to specify endpoint if not default US region
LANGSMITH_ENDPOINT=
LANGSMITH_TRACING=
LANGSMITH_PROJECT=
