GOOGLE_API_KEY=

LANGSMITH_API_KEY=
# Need to specify endpoint if not default US region
LANGSMITH_ENDPOINT="https://eu.api.smith.langchain.com"
LANGSMITH_TRACING="true"
LANGSMITH_PROJECT=

SUPABASE_DATABASE_URL=